<mat-card>
    <form #authForm="ngForm" novalidate>
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input matInput type="text" name="login" ngModel placeholder="Login" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" name="password" ngModel placeholder="Password" required>
        </mat-form-field>
        <button type="button" (click)="auth(authForm)">Login</button>
    </form>
</mat-card>
<!-- <div>
    <form>
        <div>
            <div>Login</div>
            <input matInput type="text" name="login" id="login" placeholder="Login" required>
        </div>
        <div>
            <div>Password</div>
            <input matInput type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <button type="button">Login</button>
    </form>
</div> -->
