<button (click)="back()"></button>
<mat-card>
    <img src={{currentItem.img}} alt="Photo of a Shiba Inu">
    <mat-card-content>
        <mat-card-header>
            <mat-card-title>{{currentItem.title}}</mat-card-title>
            <mat-card-subtitle>sdsdsdsdsdsdsds</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="detailed-description-title">Description:</p>
            <!--<p class="detailed-description-text"></p>-->
            <mat-card-subtitle>{{currentItem.description}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-footer>
            <div><img src="./assets/viewed.svg" alt="icon" /><span>{{currentItem.viewCount}}</span></div>
            <div><img src="./assets/liked.svg" alt="icon" /><span>{{currentItem.likeCount}}</span></div>
            <div><img src="./assets/dislike.svg" alt="icon" /><span>{{currentItem.dislikeCount}}</span></div>
            <div><img src="./assets/сomments.svg" alt="icon" /><span>{{currentItem.commentCount}}</span></div>
        </mat-card-footer>
    </mat-card-content>
</mat-card>
