<app-header></app-header>
<router-outlet></router-outlet>


<!--<app-header></app-header>-->

<!--<app-header (clickFilter)="clickFilter()" (clickSearch)="clickSearch($event)"></app-header>

  <app-filter *ngIf="showFilter" (filterDate)="filterDate()" (filterViews)="filterViews()"
    (filterWord)="filterWord($event)">
  </app-filter>

  <app-search-result [searchClicked]="searchClicked" [searchString]="searchString" [isFilterDate]="isFilterDate"
    [isFilterViews]="isFilterViews" [sortString]="sortString">
  </app-search-result>-->
