
.block-card-btn {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-btn {
    width: 100px;
    height: 40px;
    margin: 20px;
    border: 0;
    background: #2F80ED;
    border-radius: 5px;
    color: white;
}
