<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YouTube client</title>
</head>

<body>
  <app-header (clickFilter)="clickFilter()" (clickSearch) = "clickSearch($event)"></app-header>
  <app-filter *ngIf="showFilter" (filterDate)="filterDate()" (filterViews)="filterViews()" (filterWord)="filterWord($event)"></app-filter>
  <section class="main">
    <ng-container *ngIf="result?.length !== 0">
      <app-search-item *ngFor="let item of result" [item]="item"></app-search-item>
    </ng-container>
  </section>
</body>

</html>
